<div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Numero de serie</th>
          <th scope="col">Marque</th>
          <th scope="col">Modele</th>
          <th scope="col">Type</th>
          <th scope="col">Prix</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materiel of materiels" >
          
          <td>{{materiel.numeroSerie}}</td>
          <td>{{materiel.marque}}</td>
          <td>{{materiel.modele}}</td>
          <td>{{materiel.typeMateriel}}</td>
          <td>{{materiel.prix}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  