.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .container-fluid {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .navbar .container-fluid .btn:last-child {
    margin-left: auto;
  }
  