<nav class="navbar" style="background-color: #e3f2fd;">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2" type="button" routerLink="/membre">Ajouter un membre</button>

      <button class="btn btn-outline-success me-2" type="button" routerLink="/groupe">Ajouter un groupe</button>

      <button class="btn btn-outline-success me-2" type="button" routerLink="/materiel">Ajouter un matériel</button>

      <button class="btn btn-outline-success me-2" type="button" routerLink="/recupMateriel">Liste des matériels</button>

      <button class="btn btn-outline-success me-2" type="button" routerLink="/recupCommande">Liste des commandes</button>

      <button class="btn btn-outline-danger" (click)="logout()" type="button">Déconnexion</button>
      
    </form>
  </nav>

  