<nav class="navbar" style="background-color: #e3f2fd;">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-outline-success me-2" type="button" routerLink="/membre">Inscrire Membre</button>

      <button class="btn btn-outline-success me-2" type="button" routerLink="/groupe">Inscrire Group</button>

      <button class="btn btn-outline-success me-2" type="button" routerLink="/materiel">Inscrire Materiel</button>

      <button class="btn btn-outline-success me-2" type="button" routerLink="/recupMateriel">Récupérer Matériel</button>

      <button class="btn btn-outline-success me-2" type="button" routerLink="/recupCommande">Récupérer Commande</button>

      <button class="btn btn-outline-danger" type="button">Déconnexion</button>

      <!--<button class="btn btn-outline-danger" type="button" (click)="logout()">Déconnexion</button> -->
      
    </form>
  </nav>

  