<form class="row g-3 center-form">
    <div class="col-md-6">
      <label for="inputIdMembre" class="form-label" >Id Membre</label>
      <input type="number" class="form-control" [(ngModel)]="idMembre" name="idMembre" id="inputIdMembre">
    </div>
    <div class="col-md-6">
        <label for="inputFname" class="form-label" >Prénom</label>
        <input type="Fname" class="form-control" [(ngModel)]="prenom" name="prenom" id="inputFname">
    </div>
    <div class="col-md-6">
        <label for="inputLname" class="form-label" >Nom</label>
        <input type="Lname" class="form-control" [(ngModel)]="nom" name="nom" id="inputLname">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label" >Email</label>
      <input type="email" class="form-control" [(ngModel)]="email" name="email" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputLogin" class="form-label" >Login de connexion</label>
      <input type="text" class="form-control" [(ngModel)]="login" name="login" id="inputLogin">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label" >Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" id="inputPassword4">
    </div>
    <div class="col-md-6">
      <label for="inputAddress" class="form-label" >Rue de l'adresse</label>
      <input type="text" class="form-control" [(ngModel)]="adresseRue" name="adresseRue" id="inputAddress">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label" >City</label>
      <input type="text" class="form-control" id="inputCity" [(ngModel)]="adresseVille" name="adresseVille">
    </div>
    <div class="col-md-6">
      <label for="inputZip" class="form-label" >Code Postal</label>
      <input type="text" class="form-control" id="inputZip" [(ngModel)]="adresseCP" name="adresseCP">
    </div>
    <div class="col-md-6">
      <label for="inputZip" class="form-label" >Type de membre</label>
      <select id="inputState" class="form-select" [(ngModel)]="typeMembre" name="typeMembre">
        <option selected>Choisir...</option>
        <option value="client" >Client</option>
        <option value="actif">Actif</option>
      </select>
    
    </div>
    <div class="col-md-6">
      <label for="price" class="form-label">Groupe</label>
      <select class="form-select" id="price" [(ngModel)]="groupe" name="prix">
        <option selected>Choisir...</option>
        <option *ngFor="let option of options" [value]="option._id">{{ option.nom }}</option>
      </select>
  </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Ajouter</button>
    </div>
  </form>