<div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Employé (membre actif)</th>
          <th scope="col">Client</th>
          <th scope="col">Commande</th>
          <th scope="col">Date</th>
          <th scope="col">Prix</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Alaaedin</td>
          <td>Mark</td>
          <td>Ecran</td>
          <td>10/10/2021</td>
          <td>400€</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Pape</td>
          <td>Jacob</td>
          <td>Tour</td>
          <td>10/10/2021</td>
          <td>2000€</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Guillaume</td>
          <td>Ayman</td>
          <td>Clavier</td>
          <td>10/10/2021</td>
          <td>40€</td>
        </tr>
      </tbody>
    </table>
  </div>
  