<div class="filter-container">
    <select class="form-select" aria-label="Default select example">
      <option selected>Filtrer par date</option>
      <option value="1">10/10/2021</option>
    </select>
    <select class="form-select" aria-label="Default select example">
      <option selected>Filter par type</option>
      <option value="1">Ecran</option>
      <option value="2">Tour</option>
      <option value="3">Clavier</option>
    </select>
    <select class="form-select" aria-label="Default select example">
      <option selected>Filtrer par client</option>
      <option value="1">Pape</option>
      <option value="2">Alaaedin</option>
      <option value="3">Guillaume</option>
    </select>
    <select class="form-select" aria-label="Default select example">
      <option selected>Filtrer par prix</option>
      <option value="1">40€</option>
      <option value="2">400€</option>
      <option value="3">2000€</option>
    </select>
  </div>
  