<form class="row g-3 center-form">
    <div class="col-md-6">
        <label for="serialNumber" class="form-label">Serial Number</label>
        <input type="serNum" class="form-control" id="serialNumber">
    </div>
    <div class="col-md-6">
        <label for="brand" class="form-label">Brand</label>
        <input type="brnd" class="form-control" id="brand">
    </div>
    <div class="col-md-6">
        <label for="model" class="form-label">Model</label>
        <input type="mdl" class="form-control" id="model">
    </div>
    <div class="col-md-6">
        <label for="typeM" class="form-label">Type</label>
        <input type="typ" class="form-control" id="typeM">
    </div>
    <div class="col-md-6">
        <label for="price" class="form-label">Price</label>
        <input type="prce" class="form-control" id="price">
    </div>
    
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>