<form class="row g-3 center-form" (submit)="onSubmit()">
  <div class="col-md-6">
    <label for="numeroGroupe" class="form-label">Numero de groupe</label>
    <input type="number" class="form-control" id="numeroGroupe"  name="numeroGroupe" [(ngModel)]="numeroGroupe">
  </div>
  <div class="col-md-6">
      <label for="groupName" class="form-label">Nom du groupe</label>
      <input type="text" class="form-control" id="groupName" name="nom" [(ngModel)]="nom">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Ville</label>
    <input type="text" class="form-control" id="inputCity" name="ville" [(ngModel)]="ville">
  </div>
  <div class="col-md-6">
    <label for="inputZip" class="form-label">Code Postal</label>
    <input type="text" class="form-control" id="inputZip" name="codePostal" [(ngModel)]="codePostal">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Enregistrer</button>
  </div>
</form>
